@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
/*Reset de propriedades */
* { 
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: #EDECED;
}

/*configuraçoes genéricas */
.container-grid{
    width: 80%;
    margin: 0% auto;
}


/* cabeçcalho */
header {
    background-color: grey;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1{
    color: white;
    font-weight: 300;
    /* border: 2px solid white; */
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    
}

/*main*/
main img {
    width: 100%;
}


main .coluna1 #lapis{
    width: 100%;
}

main .colunas-flex {  
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

main .coluna1 {
    width: 75%;
    background-color: white ;

}

main .coluna1 p {
   
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;


}

    
    


main .coluna2 {
    width: 20%;
    /* background-color: white; */

}

main .coluna2 article {
    margin-bottom: 30px;
    background-color: white;
}


/* footer */
footer {
    background-color: #676767;
    padding-top: 20px;
    padding-right: 0%;
    padding-bottom: 20px;
    padding-left: 0%
    


    ;
}

